.Featured_collection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 194px 30px;
    gap: 10px;

    position: relative;
    width: 1917px;
    height: 917px;
    background: #FFFDF4;
}

.Frame_5644{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 1529px;
    height: 768px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Frame_5643{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 519px;
    height: 154px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Frame_5642{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 23px;

    width: 1529px;
    height: 574px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.Header_Content{
    width: 310px;
    height: 53px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;

    /* identical to box height, or 118% */

    letter-spacing: -0.05em;

    /* Primary/Accent 1 */

    color: #374639;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Header_P{
    width: 519px;
    height: 81px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    /* or 142% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Secondary/Color 1 */

    color: #3F514B;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.Product_Card{
    /* Product card */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;

    width: 360px;
    height: 574px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.blog_img_place_holder_12{
    width: 365px;
    height: 266px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Mask_Group{
    position: absolute;
    left: -4.93%;
    right: -4.93%;
    top: -0.38%;
    bottom: 0%;
    
    
}

.Product_Images1{
    position: absolute;
    left: -4.93%;
    right: -4.93%;
    top: -0.38%;
    bottom: 0%;
}

.Frame_6055{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 360px;
    height: 290px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.Frame_6054{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    width: 308px;
    height: 134px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Frame_6052{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 308px;
    height: 105px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Frame_6051{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 180px;
    height: 25px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Frame_6049{
    width: 180px;
    height: 25px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */

    letter-spacing: -0.02em;

    color: #414F42;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.P_fontStyle{
    width: 308px;
    height: 72px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    /* or 141% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Secondary/Color 1 */

    color: #3F514B;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.Frame_6053{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;

    width: 85px;
    height: 23px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.Money_before{
    width: 34px;
    height: 17px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */

    letter-spacing: 0.01em;
    text-decoration-line: line-through;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;

    /* Secondary/Subtitle */

    color: #72776C;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Money_after{
    width: 45px;
    height: 23px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height, or 128% */
    
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* Secondary/Color 1 */
    
    color: #3F514B;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Group_6051{
    width: 360px;
    height: 136px;
    position: relative;
    margin-top: -180px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.head_relax_yoga{
    /* Head relax yoga */
    position: absolute;
    width: 115px;
    height: 24px;
    left: 74px;
    top: 257px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Secondary/Color 2 */

    color: #4E5C58;
}

.focus_on_the_mind{
    position: absolute;
    width: 129px;
    height: 24px;
    left: 74px;
    top: 212px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Secondary/Color 2 */

    color: #4E5C58;
}

.get_started_and_balance{
    position: absolute;
    width: 155px;
    height: 24px;
    left: 74px;
    top: 167px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Secondary/Color 2 */

    color: #4E5C58;
}

.week3{
    position: absolute;
    width: 60px;
    height: 18px;
    left: 1px;
    top: 260px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */

    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;

    /* Secondary/Subtitle */

    color: #72776C;
}

.week2{
    position: absolute;
    width: 60px;
    height: 18px;
    left: 1px;
    top: 215px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */

    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;

    /* Secondary/Subtitle */

    color: #72776C;
}

.week1{
    position: absolute;
    width: 60px;
    height: 18px;
    left: 1px;
    top: 170px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */

    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;

    /* Secondary/Subtitle */

    color: #72776C;
}



