.Testimonial{
    /* Testimonial */
    position: relative;
    width: 1920px;
    height: 704px;

    /* Secondary/Background 1 */

    background: #F4F4F4;
}

.Group_6930{
    position: absolute;
    width: 1475px;
    height: 575px;
    left: 223px;
    top: 65px;
}

.Rectangle_3034{
    position: absolute;
    width: 638px;
    height: 475px;
    left: 273px;
    top: 115px;

    background: #AFAFAF;
    border-radius: 12px;
}

.image_Galaxy{
    position: absolute;
    width: 664.43px;
    height: 477px;
    left: 150px;
    top: 115px;
    border-radius: 5px;
}

.Group_6928{
    position: absolute;
    width: 1475px;
    height: 575px;
    left: 223px;
    top: 65px;
}

.brand_say_about_us{
    
    position: absolute;
    width: 150px;
    height: 20px;
    left: 880px;
    top: 134px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;

    /* Secondary/Subtitle */

    color: rgba(0, 0, 0, 0.3);

}

.Artist{
    /* Artist */
    position: absolute;
    width: 36px;
    height: 22px;
    left: 925px;
    top: 480px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */

    letter-spacing: -0.03em;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Secondary/Subtitle */

    color: rgba(0, 0, 0, 0.3);

}

.Post_Malone{
    position: absolute;
    width: 96px;
    height: 20px;
    left: 900px;
    top: 460px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.01em;

    /* Primary/Accent 1 */

    color: #0D0D0D;

}

.Comfortable{
    position: absolute;
    width: 494px;
    height: 160px;
    left: 700px;
    top: 268px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */

    text-align: center;
    letter-spacing: -0.04em;

    /* Primary/Accent 1 */

    color: #0D0D0D;

}

.quote{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 1330px;
    top: 258px;

    transform: rotate(180deg);
}
.vector{
    position: absolute;
    left: 420px;
    right: -34.07%;
    top: 94.01%;
    bottom: -82.1%;

    /* Line */

    
    transform: rotate(180deg);
}

.vector1{
    position: absolute;
    left: 450px;
    right: -34.07%;
    top: 94.01%;
    bottom: -82.1%;

    /* Line */

    
    transform: rotate(180deg);
}

